@font-face {
    font-family: 'Roboto';
    src: url('../assets/Roboto-Medium.ttf');
}

.heading {
    -fx-font-family: "Roboto";
}

Button {
    -fx-pref-height: 25;
    -fx-font-size: 12;
    -fx-cursor: HAND;
}

.btnExit {
    -fx-text-fill: White;
    -fx-background-color: #E55934;
}

.btnDelete {
    -fx-text-fill: #E55934;
    -fx-background-color: White;
    -fx-border-color: #E55934;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

.btnDelete:hover{
    -fx-text-fill: White;
    -fx-background-color: #E55934;
}

.btnModify {
    -fx-border-color: #1E90FF;
    -fx-text-fill: #1E90FF;
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-pref-width: 52;
}

.btnCancel{
    -fx-background-color: #a8a8a8;
}

.btnModify:hover {
    -fx-text-fill: White;
    -fx-background-color: #1E90FF;
}

.btnCreate {
    -fx-text-fill:  White;
    -fx-background-color: #9bc53d;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-pref-width: 70;
}

.dialog-pane {
    -fx-background-color: #1E90FF;
}

.dialog-pane > *.button-bar > *.container{
    -fx-background-color: white;
}

.dialog-pane > *.header-panel {
    -fx-background-color: white;
}

.btnSave {
    -fx-text-fill:  White;
    -fx-background-color: #9bc53d;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-pref-width: 70;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: #5d5d5d;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-font-size: 12;
    -fx-padding: 5;
}

.error-label{
    -fx-text-fill: #E55934;
    -fx-font-size: 10px;
    visibility: false;
}

.search-error{
    -fx-text-fill: #E55934;
}

.invalid-field{
    -fx-border-color: #E55934 !important;
}

.valid-field{
    -fx-border-color: #9bc53d !important;
}

.id-field{
    -fx-background-color: #dfdfdf;
}